body {
  margin: 0;
  bottom: 0;
  color: #fff;
}
* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  position: relative;
}
.map-overlay {
  width: 50vw;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.08);
}
#map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.spinner {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.spinner:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  margin: 4px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.mapboxgl-popup-content {
  position: relative;
  border: 1px solid rgba(248, 241, 241, 0.5);
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.10);
  padding: 10px 10px 15px;
}
.mapboxgl-popup-close-button {
  display: none;
}
.mapboxgl-popup-tip{
  display: none;
}